body{
  text-align:center;
  background-size: cover;
}
 h1{
   font-family: "Helvetica, sans-serif"; /*change the font however you like */
   color:black;
   font-size: 18px;
 }

p{
  font-family: "Times, serif";
  color:black;
  font-size: 12px;
}


